form(action="/g/list" method="POST")
  div 
    label(for="auth-email") Email
    input(type="email" name="email" id="auth-email")
  div 
    label(for="auth-password") Password
    input(type="password" name="password" id="auth-password")
  button(type="submit") login 